<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build_date</key>
	<string>170518</string>
	<key>build_debug_date</key>
	<string>170518</string>
	<key>build_debug_num</key>
	<string>2</string>
	<key>build_num</key>
	<string>1</string>
</dict>
</plist>
